{% extends 'record/index.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1 class="text-center">Авторизация</h1>

            <form class="row" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
<!--                <div class="mb-3">-->
<!--                    <label for="exampleInputEmail1" class="form-label">Адрес электронной почты</label>-->
<!--                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
<!--                    <div id="emailHelp" class="form-text">Мы никогда никому не передадим вашу электронную почту.</div>-->
<!--                </div>-->
<!--                <div class="mb-3">-->
<!--                    <label for="exampleInputPassword1" class="form-label">Пароль</label>-->
<!--                    <input type="password" class="form-control" id="exampleInputPassword1">-->
<!--                </div>-->
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}